


.theme-dropdown .dropdown-menu
{
    display: block;
    position: static;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn
{
    margin: 5px 0;
}

.text-head-color
{
    color: #5990de;
}

.table > tbody > tr > td {
    border-top: medium none;
}

.max900, .loginscreen.middle-box.max900 {
	width: 90%;
	max-width: 900px;
}

input[type="checkbox"], input[type="radio"] {
	width: auto;
}

.error {
	color: red !important;
}

li.add {
    list-style: none;
    margin-left: -40px;
}

.max300 {
    max-height: 300px;
    max-width: 300px;
}