.theme-dropdown .dropdown-menu
{
    display: block;
    position: static;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn
{
    margin: 5px 0;
}

.text-head-color
{
    color: #5990de;
}

.table > tbody > tr > td {
    border-top: medium none;
}

.max900, .loginscreen.middle-box.max900 {
	width: 90%;
	max-width: 900px;
}

.nav-pills > li > a {
    color: #677182;
    background-color: white;
}

input[type="checkbox"], input[type="radio"] {
	width: auto;
}

.error {
	color: red !important;
}

li.add {
    list-style: none;
    margin-left: -40px;
}

img.max300 {
    max-height: 200px;
    max-width: 200px;
}
img.max100pct {
    max-height: 100%;
    max-width: 100%;
}

.cols-5 {
    width: 20%;
    display: inline-block;
}