
body { padding-top: 70px; }

#content-wrapper {
    padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu
{
    display: block;
    position: static;
    margin-bottom: 20px;
}

.navbar-brand img {
    height: 100%;
}
.navbar-brand {
    padding: 4px 15px;
    margin-left: 0px;
}

.theme-showcase > p > .btn
{
    margin: 5px 0;
}

.text-head-color
{
    color: #5990de;
}

.table > tbody > tr > td {
    border-top: medium none;
}

input[type="checkbox"], input[type="radio"] {
	width: auto;
}

.error {
	color: red !important;
}

li.add {
    list-style: none;
    margin-left: -40px;
}

img.max300 {
    max-height: 300px;
    max-width: 300px;
}
img.max100pct {
    max-height: 100%;
    max-width: 100%;
}
.pad-bottom {
    padding: 0 0 1em 0;
}

.cols-5 {
    width: 20%;
    display: inline-block;
}

div.pagination a {
    padding: 0 0.5em;
}